<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include('partials/menu') %>

    <h1>Profile page of <%= person %></h1>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>
    <p><strong>Hobbies:</strong></p>
    <ul>
        <% data.hobbies.map(hobby => { %>
            <li><%= hobby %></li>
        <% }) %>
    </ul>
</body>
</html>